{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Ecom</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    <br /><br />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam feugiat accumsan massa, sit amet
                    efficitur magna
                    imperdiet ut. Cras non arcu vehicula, aliquam erat a, interdum enim. Aenean scelerisque congue
                    mauris.
                    Donec ut
                    hendrerit dolor, non ullamcorper diam. Integer condimentum nibh feugiat convallis egestas. Praesent
                    lectus lectus,
                    finibus eu arcu nec, elementum rhoncus lacus. Donec auctor felis quis nisi scelerisque interdum.
                    Proin
                    ultrices gravida
                    nunc.
                    <br /><br />
                    Morbi at pellentesque risus. Integer ornare porta tellus, a mollis nibh imperdiet ut. Praesent
                    molestie
                    placerat enim
                    interdum dictum. Nam vel turpis pharetra, laoreet nulla a, vestibulum purus. Nulla facilisi. Etiam
                    sed
                    scelerisque diam,
                    in tempor tortor. Vivamus eleifend justo non sapien porta, vitae rhoncus odio pharetra. Aenean
                    volutpat,
                    dolor non
                    fringilla maximus, velit ipsum facilisis mauris, non finibus tellus mauris quis dolor. Cras ut
                    vestibulum ipsum, in
                    suscipit nulla. Maecenas tincidunt velit at mi finibus, nec feugiat neque aliquet.
                    <br /><br /><br /><br />
                </p>
            </div>
        </center>
    </div>
</div>

{% endblock %}